<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Latest Mars News -->
    <div class="row" id="Latest Mars News">
      <div class="col-md-12">
        <h2 class="heading">Latest Mars News</h2>
        <h4 class="heading">{{mars.news_title}}</h4>
        <small>{{mars.news_summary}}</small>
      </div>
    </div>
    <!-- Hemisphere Photos -->
    <div class="row">
        <div class="col-md-8">
          <div class = "row">
            <h2 class="heading">Mars Hemispheres</h2><hr>
            <!-- Loop through Photos -->
            {% for x in mars.hemispheres %}
                <div class = "col-md-6">  
                    <div class="card" style="width: 350px;">
                        <img class="card-img-top" src={{x.img_url}} alt="{{x.title}} image" width = "100%">
                        <div class="card-body">
                        <p class="card-text">{{x.title}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-4">
            <h2 class="heading">Mars facts</h2><hr>
            {{mars.html_table}}

            </div>
        </div>
      </div>

  </div>
</body>

</html>

